
html {background-color: green;}
.header {color :red;
font-size :100px;
text-align: center;}
titil {color :aqua;
    padding-left :770px;
font-size :25px;}
h1 {color :aqua;
    text-align:center;
font-size :30px;}
li {color :black;
    list-style :none;
    text-align:center;
font-size :35px;}
.class1 { text-align:center;}
h2 {text-align: center;
color:aqua;
font-size:30px;}
.class2 {text-align: center;
}
a {padding-left:600px;
    text-decoration: none;
    color:peru;
font-size:70px;}
.footer {color :red;
    font-size :100px;
    text-align: center;}